* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #343541;
  font-family: sans-serif;
  font-size: small;
}

.fav-movie-container {
  width: 360px;
  height: 200px;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.fav-movie-container > h1 {
  margin-block: 10px;
  color: #fff;
}

.fav-movie-container li {
  list-style-type: none;
  background-color: whitesmoke;
  border-bottom: 1px solid black;
  margin-inline: 15px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
